<main>

    <div class="answerContent">
            
        <h1 class="title">{{quiz.name}}</h1>
        
        <div class="statisticsWrapper">

            <div class="percentageWrapper">

                <p>Rendimento:</p>

                <p class="percentage"></p>
                
            </div>
            
            <div class="pointsWrapper">

                <p>Acertos:</p>

                <p class="points"></p>
                
            </div>


            <div class="errorsWrapper">

                <p>Erros:</p>

                <p class="errors"></p>

            </div>
            
            
        </div>

    </div>
    
    

    <div class="none">
        {{#each answer.userAnswer}}

    <p class="userQuestionsId">{{questionId}}</p>
    <p class="userAnswers">{{answer}}</p>

    {{else}}

    <p>Nenhuma respostas encontrada</p>
    
    {{/each}}

    </div>

    <ul class="questionsUl">

            {{#each question}}

                <li class="questionWrapper">

                    <input type="hidden" name="questionId" class="questionId" value="{{_id}}">
                    
                    <div class="wrapper">

                        <p class="answer none">{{answer}}</p>

                    <p class="question"> <span class="index">1- </span> {{question}} </p>

                    <img src="{{questionImage}}" alt="imagem da questão." class="questionImage">

                    <ul class="alternatives">

                        <li class="a">

                            <p class="alternative"> {{alternative_a}} </p>
                            
                        </li>

                        <li class="b">

                            <p class="alternative"> {{alternative_b}} </p>
                            
                        </li>

                        <li class="c">

                            <p class="alternative"> {{alternative_c}} </p>
                            
                        </li>

                        <li class="d">

                            <p class="alternative"> {{alternative_d}} </p>
                            
                        </li>
                        
                    </ul>
                        
                    </div>

                </li>
                
        {{else}}

            <li>
                <h2>nenhuma questão disponivel</h2>
            </li>

        {{/each}}
        
    </ul>

    
</main>

{{>imageModal}}

<script>

    const errors = []
    const points = []
    const errorsDisplay = document.querySelector(".errors")
    const pointsDisplay = document.querySelector(".points")
    const percentageDisplay = document.querySelector(".percentage")
    const quizName = document.querySelector(".title")
    const questions = document.querySelectorAll(".questionWrapper")
    const quizData = JSON.parse(localStorage.getItem("quizData")) || []
    const totalQuestion = document.querySelector(".totalQuestions")
    const countQuestion = []

    const userAnswers = document.querySelector(".userAnswers").textContent.split(",")
    const userQuestionsId = document.querySelector(".userQuestionsId").textContent.split(",")

    const answers = []

    userAnswers.forEach((answer, index) => {
        answers.push({
            userAnswer:answer
        })
    })

     userQuestionsId.forEach((questionId, index) => {
        answers[index].questionId = questionId
       
    })

    questions.forEach((question, index) => {

        const answer = question.querySelector(".answer").textContent || undefined
        const questionId = question.querySelector(".questionId").value
        const alternative_a = question.querySelector(".a")
        const alternative_b = question.querySelector(".b")
        const alternative_c = question.querySelector(".c")
        const alternative_d = question.querySelector(".d")
        const questionsIndex = question.querySelector(".index").textContent = `${index + 1} -`
        countQuestion.push(answer)

        if(answers[index].questionId == questionId && answers[index].userAnswer == answer){

            points.push(1)
            
            switch(answers[index].userAnswer){
            case "a":

                alternative_a.classList.add("true")

            break;

            case "b":

                alternative_b.classList.add("true")

            break;

            case "c":

                alternative_c.classList.add("true")

            break;

            case "d":

                alternative_d.classList.add("true")

            break;

            default:

                return
                
            break;
        }
            
        }else{

            errors.push(1)

            switch(answers[index].userAnswer){
                case "a":

                    alternative_a.classList.add("false")

                break;

                case "b":

                    alternative_b.classList.add("false")

                break;

                case "c":

                    alternative_c.classList.add("false")

                break;

                case "d":

                    alternative_d.classList.add("false")

                break;

                default:

                    return
                    
                break;
            }

            switch(answer){
                case "a":

                    alternative_a.classList.add("explain")

                break;

                case "b":

                    alternative_b.classList.add("explain")

                break;

                case "c":

                    alternative_c.classList.add("explain")

                break;

                case "d":

                    alternative_d.classList.add("explain")

                break;

                default:

                    return
                    
                break;
            }

            
        }

    })

    errorsDisplay.textContent = errors.length
    pointsDisplay.textContent = `${points.length} de ${points.length + errors.length}`
    percentageDisplay.textContent = `${((points.length / (points.length + errors.length)) * 100).toFixed(1)}%`


    
</script>

